<section class="examples">
	<h2 class="examples-title">Примеры онлайн-магазинов</h2>
	<ul class="examples-list">
		<li class="examples-list__item">
			<img srcset="#" src="#" alt="" />
			img
		</li>
		<li class="examples-list__item">
			<img srcset="#" src="#" alt="" />
			img
		</li>
		<li class="examples-list__item">
			<img srcset="#" src="#" alt="" />
			img
		</li>
		<li class="examples-list__item">
			<img srcset="#" src="#" alt="" />
			img
		</li>
		<li class="examples-list__item">
			<img srcset="#" src="#" alt="" />
			img
		</li>
		<li class="examples-list__item">
			<img srcset="#" src="#" alt="" />
			img
		</li>
		<button class="examples-button__prev" type="button">prev</button>
		<button class="examples-button__next" type="button">next</button>
	</ul>
</section>
