<footer class="footer">
	<img src="images/Logo.svg" alt="logo" />
	<ul class="contacts-list">
		<li class="contacts-list__item">
			<span class="contacts-list__name">Валерия</span>
			<span class="contacts-list__number" href="tel:+380505859409">+380505859409</span>
		</li>
		<li class="contacts-list__item">
			<span class="contacts-list__name">Анна</span>
			<span class="contacts-list__number" href="tel:+380505859409">+380505859409</span>
		</li>
		<li class="contacts-list__item">
			<span class="contacts-list__name">Валерия</span>
			<a class="contacts-list__number" href="tel:+380505859409">+380505859409</a>
		</li>
	</ul>
	<ul class="socials-list">
		<li class="socials-list__item">svg</li>
		<li class="socials-list__item">svg</li>
		<li class="socials-list__item">svg</li>
		<li class="socials-list__item">svg</li>
		<li class="socials-list__item">svg</li>
		<a href="mailto:hr@d-vs.com">hr@d-vs.com</a>
		<span>Developers 2018-2021 All rights reserved</span>
	</ul>
</footer>
