<section class="info">
	<h2 class="info-title">Необходимо больше информации?</h2>
	<img src="images/order.200.png" alt="" srcset="images/order.200.png 1x images/order.200@2x.png 2x" />
	<p class="info-text">
		Если Вы владелец онлайн-магазина или только начинаете свой путь в электронной коммерции и вам нужен уникальный
		дизайн онлайн магазина для стартапа, обратитесь к нашему веб дизайнеру. За выгодную цену и короткий период времени,
		он поможет визуализировать ваш веб-проект.
	</p>
	<button class="info-button" type="submit">оставить заявку</button>
</section>
