<section class="orders">
	<h2 class="orders-title">Обсудить проект</h2>
	<p class="orders-text">Расскажите о своих бизнес-целях и мы поможем вам в их достижении</p>
	<form action="" class="orders-form">
		<label for="name"></label>
		<input type="text" id="name" placeholder="Имя" />
		<label for="contacts"></label>
		<input type="text" id="contacts" placeholder="Telegram/Viber" />
		<label for="email"></label>
		<input type="email" id="email" placeholder="Email" />
		<button class="form-button" type="submit">Отправить</button>
	</form>
	<img src="images/Postpaid.png" alt="" srcset="images/Postpaid.png 1x images/Postpaid@2x.png 2x" />
</section>
