<section class="services">
	<h2 class="services-title">Что входит в услугу по созданию дизайна интернет-магазина?</h2>
	<ul class="services-list">
		<li class="services-list__item"><span class="services-list__text">Дизайн портала</span></li>
		<li class="services-list__item">
			<span class="services-list__text">Дизайн адаптивной мобильной версии</span>
		</li>
		<li class="services-list__item"><span class="services-list__text">Дизайн десктопной версии</span></li>
		<li class="services-list__item"><span class="services-list__text">Пользовательский интерфейс</span></li>
		<li class="services-list__item"><span class="services-list__text">Микро UX</span></li>
	</ul>
</section>
