<section class="stages">
	<h2 class="stages-title">Этапы разработки интернет-магазина</h2>
	<ul class="stages-list">
		<li class="stages-list__item">
			<h3 class="stages-list__title">1. Анализ</h3>
			<p>
				Для того, чтобы онлайн-магазин приносил выгоду, перед его запуском необходимо провести анализ других предложений
				рынка, оценить конкурентов и найти наиболее удобное решение.
			</p>
			<img
				srcset="images/Top-Right.png 1x, images/Top-Right@2x.png 2x"
				src="images/Top-Right.png"
				alt="square figure"
			/>
		</li>
		<li class="stages-list__item">
			<h3 class="stages-list__title">2. Визуальное решение</h3>
			<p>
				Разработка дизайна ключевых страниц магазина – главная, каталог, информационные разделы, раздел корзины,
				товаров. Для нас главное – передать настроение бренда, сделать удобный сайт.
			</p>
			<img srcset="images/cake.214.png 1x, images/cake.214@2x.png 2x" src="images/cake.214.png" alt="cake figure" />
		</li>
		<li class="stages-list__item">
			<h3 class="stages-list__title">3. Техническая реализация</h3>
			<p>
				После утверждения дизайн-макета наступает следующий этап – верстка. Это трудоемкий процесс: программисты должны
				все тщательно прописать, чтобы не допустить технических ошибок.
			</p>
			<img
				srcset="images/Scan-Barcode.png 1x, images/Scan-Barcode@2x.png 2x"
				src="images/Scan-Barcode.png"
				alt="scan barcode figure"
			/>
		</li>
		<li class="stages-list__item">
			<h3 class="stages-list__title">4. Наполнение контентом</h3>
			<p>
				Создание и публикация текстов, а также видео материала. Хороший контент и качественные фотографии привлекают
				больше посетителей и помогают клиенту лучше ознакомиться с ассортиментом.
			</p>
			<img
				srcset="images/Group-176.png 1x, images/Group-176@2x.png 2x"
				src="images/Group-176.png"
				alt="folder figure"
			/>
		</li>
		<li class="stages-list__item">
			<h3 class="stages-list__title">4. Наполнение контентом</h3>
			<p>
				Создание и публикация текстов, а также видео материала. Хороший контент и качественные фотографии привлекают
				больше посетителей и помогают клиенту лучше ознакомиться с ассортиментом.
			</p>
			<img
				srcset="images/Group-177.png 1x, images/Group-177@2x.png 2x"
				src="images/Group-177.png"
				alt="settings figure"
			/>
		</li>
	</ul>
	<button class="stages-button__prev" type="button">prev</button>
	<button class="stages-button__next" type="button">next</button>
</section>
